<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SourcePath" value="c:\Source"/>
    <add key="DestinationPath" value="c:\Destination"/>
    <add key="DatabaseFile" value="records.sqlite"/>
    <add key="AllowDestinationPathChangeViaHTTP" value="true"/>
    <add key="LogFilePath" value="c:\logs\sure_copy"/>
    <add key="DetailedLogging" value="false"/>
    <add key="HALT_OPERATIONS" value="false"/>
    <add key="CheckMD5" value="false"/>
    <add key="CheckLastWriteTime" value="true"/>
    <add key="BufferSizeMB" value="16"/>
    <add key="TIME_OF_DAY_TO_RUN" value="03:30:00 PM"/>
    <add key="HTTP_PORT" value="8181"/>
  </appSettings>
  </configuration>